* {
    margin: 0;
    font-family: 'PT Sans', sans-serif;
}

.container {
    width: 960;
    background-color: aqua;
    margin: auto;
    padding: 16px;
    border-radius: 25px;
}

nav {
    width: 900px;
    background-color: salmon;
    margin: auto;
    padding: 8px;
    height: 250px;
    border-radius: 25px;
}

nav ul li {
    list-style: none;
    margin: auto;
}

nav ul li a {
    color: white;
    text-decoration: underline;
    font-size: 24px;
    float: left;
    padding: 8px;
}
nav ul li a:hover {
    color:slateblue;
}



form {
    width: 50%;
    float: left;
    background-color: sandybrown;
    margin: 10px;
    padding: 15px;
}
fieldset {
    padding: 10px;
}
input {
    margin: 10px;
}


h3 {
    float: right;
    width: 40%;
    background: white;
    border: 5px solid salmon;
    margin-top: 10px;
 }

section div {
   margin-left: 20px;
   display: none;
   padding: 10px;
}

.mod2 {
    float: right;
    width: 40%;
    background: white;
    border: 5px solid salmon;
    margin-top: 10px;
 }

